/* {
    margin: 0;
    padding: 0;
}*/

body{
    font-family: 'Dancing Script', 'cursive';
    font-family: 'Pacifico','cursive';
    font-family: 'Pangolin', 'cursive';
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   /* font: tomato;*/
    background-color: black;/*
    font-size: 16px;*/
	overflow: auto;
}

div.logo{
    text-align:center;
	width: 60%;
	vertical-align: middle;
	display: table-cell;


}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
	color: tomato;
	font-size: 20px;
	font-weight: 300;
	display:inline-block;
	margin: 30px 20px;
	left: 80%;
	/*position: relative;*/
	font-style:normal;
	text-decoration: none;
	font-weight: bold;
}

header .menu a:hover {
	background-color:tomato;
	color: black;
	opacity: 1;
	border-radius: 7px;
  }

 
 /* ----- ----- MAIN ----- ----- */

.main .acerca-de {
	padding: 60px;
}

.main .acerca-de .titulo {
    padding: 45px;
	text-align: center;
	/*left: 0%;*/
	background-color: tomato;
	/*z-index: -10;*/
	font-size: 175%;
	/*margin-top: -400px;*/
	font: black;
	border-radius: 45px;
}

.main .acerca-de article p {
	line-height: 200%;
	background: white;
	padding: 45px;
    margin: 0px;
	left: 0%;
	text-align: center;
	font-size: 120%;
	margin-bottom: 15px;
	/*z-index: -10;*/
} 

.main .Proyectos .contenedor {
	top: 350px;
	padding: 60px;
}

.main .Proyectos h2 {
	padding: 45px;
	font-size: 170%;
	background-color: tomato;
	/*margin-top: 400px;*/
	text-align: center;
	font: black;
	border-radius: 45px;
}

.Proyectos .contenedor .cafeteria {
    height: 400px ;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.Proyectos .contenedor .fotocopias {
    height: 400px ;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

img#gato2 {
	width: 15%;
	padding: 0;
	margin-top: -70px;
}

img#gato3 {
	width: 15%;
	margin-top: 20px;
}

}

.Contacto .contenedor{
 padding-top: 0px;
}
.Contacto{
    display: grid;
	grid-template-columns: repeat(3,10%);
    justify-content:space-between;
	grid-gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
	align-content: center;
	background-color: transparent;
    padding-top: 30px;
    /*margin: 100px;*/
}

.main .contactame .titulo {
    font-size: 190%;
    text-decoration: solid;
    margin: 30px;
    padding:20px;
    color: tomato;
    /*text-align: center;*/
    margin-left: 40%;
   /* padding-top: 100px;*/
 }

/* ----- ----- FOOTER ----- ----- */
footer {
	background: #000;
}

footer .copyright {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	color: tomato;
}


/* ----- ----- MEDIA QUERIES ----- ----- */ /*RESPONSIVE*/

@media screen and (max-width: 800px) {

body{
    font-family: 'Dancing Script', 'cursive';
    font-family: 'Pacifico','cursive';
    font-family: 'Pangolin', 'cursive';
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   /* font: tomato;*/
    background-color: black;/*
    font-size: 16px;*/
	overflow: auto;
}

div.logo{
    text-align:center;
	/*height: 280%;
	width: 280%;*/
	padding: 0px;
	border-width: 0px;
	/*margin:0px;
	left: 0px;
	top: 0px;*/
	display: table-cell;
	vertical-align: middle;

}

header .menu {
    width: 50%;
}

header .menu a {
	color: tomato;
	font-size: 15px;
	font-weight: 50px;
	margin: 15px 10px;
	/*text-align: right;*/
	text-decoration: none;
	font-weight: bold;
	justify-content: space-between;
	display: block;	/*margin: 5px 0px;*/
	
}

header .menu a:hover {
	background-color:tomato;
	color: black;
	opacity: 1;
	border-radius: 7px;
  }

 
 /* ----- ----- MAIN ----- ----- */

.main .acerca-de {
	padding: 60px;
}

.main .acerca-de .titulo {
    padding: 20px;
	text-align: center;
	/*left: 0%;*/
	background-color: tomato;
	/*z-index: -10;*/
	font-size: 120%;
	/*margin-top: -400px;*/
	font: black;
	border-radius: 40px;
}

.main .acerca-de article p {
	line-height: 170%;
	background: white;
	padding: 25px;
    margin: 0px;
	left: 0%;
	text-align: center;
	font-size: 90%;
	margin-bottom: 10px;
	/*z-index: -10;*/
} 

.main .Proyectos .contenedor {
	top: 300px;
	padding: 60px;
}

.main .Proyectos h2 {
	padding: 20px;
	font-size: 120%;
	background-color: tomato;
	/*margin-top: 400px;*/
	text-align: center;
	font: black;
	border-radius: 40px;
}

.Proyectos .contenedor .cafeteria {
    height: 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.Proyectos .contenedor .fotocopias {
    height: 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#gato2 {
	width: 15%;
	margin: 0;
	padding: 0;
}

#gato3 {
	width: 15%;
	margin: 0;
	padding: 0;
}

.Contacto .contenedor{
 padding-top: 0px;
}

.Contacto{
    display: grid;
	grid-template-columns: repeat(3,10%);
    justify-content:space-between;
	grid-gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
	align-content: center;
	background-color: transparent;
    padding-top: 30px;
    /*margin: 100px;*/
}

.main .contactame .titulo {
    font-size: 110%;
    text-decoration: solid;
    margin: 30px;
    padding:20px;
    color: tomato;
    /*text-align: center;*/
    margin-left: 40%;
   /* padding-top: 100px;*/
 }

/* ----- ----- FOOTER ----- ----- */
footer {
	background: #000;
}

footer .copyright {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	color: tomato;
}
}

@media only screen and (max-width: 480px){
body{
    font-family: 'Dancing Script', 'cursive';
    font-family: 'Pacifico','cursive';
    font-family: 'Pangolin', 'cursive';
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   /* font: tomato;*/
    background-color: black;/*
    font-size: 16px;*/
	overflow: auto;
}

div.logo{
    /*text-align:center;*/
	width: 150%;
	/*height: 300px;*/
	margin: -20px;
	padding: 15px;/*
	align-items: center;
	justify-content: center;*/
    /*z-index: 3;*/
	padding: 0px;
	border-width: 0px;
	display: table-cell;
	vertical-align: middle;
	margin-top: 300px;
}

.logo img{
	height: 90%;
	width: 90%;
	vertical-align: middle;
	display: table-cell;
	margin: 45px 45px;
}

header .menu {
	/*margin: 0;
	padding: 5;*/
	text-align: left;
	margin: 10px 0px;
}

header .menu a {
	color: tomato;
	font-size: 10px;
	display: block;	/*margin: 5px 0px;*/
	text-align: left;
	font-weight: bold;
	margin: 5px 5px;
}

header .menu a:hover {
	background-color:tomato;
	color: black;
	opacity: 1;
	border-radius: 7px;
  }

 
 /* ----- ----- MAIN ----- ----- */

.main .acerca-de {
	padding: 60px;
	top: 0px;
}

.main .acerca-de .titulo {
    padding: 15px;
	text-align: center;
	/*left: 0%;*/
	background-color: tomato;
	/*z-index: -10;*/
	font-size: 110%;
	/*margin-top: -400px;*/
	font: black;
	border-radius: 40px;
}

.main .acerca-de article p {
	line-height: 140%;
	background: white;
	padding: 15px;
    margin: 0px;
	left: 0%;
	text-align: center;
	font-size: 90%;
	margin-bottom: 5px;
	/*z-index: -10;*/
} 

.main .Proyectos .contenedor {
	top: 300px;
	padding: 60px;
}

.main .Proyectos h2 {
	padding: 20px;
	font-size: 110%;
	background-color: tomato;
	/*margin-top: 400px;*/
	text-align: center;
	font: black;
	border-radius: 40px;
}

.Proyectos .contenedor .cafeteria {
    height: 150% ;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    margin: 0px;
	width: 170%;
	padding: 10px;
	vertical-align: middle;
}

.Proyectos .contenedor .fotocopias {
    height: 150% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
	width: 170%;
	padding: 10px;
	vertical-align: middle;
}

img#gato2 {
	width: 25%;
	/*margin: 0;
	padding: 0;*/
    top: 0px;
}

img#gato3 {
	width: 30%;
	/*margin: 0;
	padding: 0;*/
	top: 100px
}

.Contacto .contenedor{
 padding-top: 0px;
 margin: 0px;
}

.Contacto{
    display: grid;
	grid-template-columns: repeat(3,15%);
    justify-content:space-between;
	grid-gap: 5px;
    margin-left: 5%;
    margin-right: 10%;
	align-content: center;
	background-color: transparent;
    padding-top: 30px;
	width: 90%;
    /*margin: 100px;*/
}

.main .contactame .titulo {
    font-size: 140%;
    text-decoration: solid;
    margin: 20px;
    padding:10px;
    color: tomato;
    text-align: left;
    margin-left: 25%;
	padding: 25px;
     
 }

/* ----- ----- FOOTER ----- ----- */
footer {
	background: #000;
}

footer .copyright {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	color: tomato;
	font-size: 90%;
}
}
